.menuBtn {
	-fx-font: 18px "Courier New";
    -fx-padding: 15;
    -fx-pref-width: 300px;
    -fx-text-fill: #fff;
    -fx-background-color: #000;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-color: white;
}

.backBtn {
    -fx-background-image: url("./../../img/backBtn.png") ;
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 35px 35px;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-position: center center; 
}

.rootBg{
	-fx-background-color: #000;
}

.placeholderText {
	-fx-font: 30px "Courier New";
}