.menuBtn {
	-fx-font: 18px "Courier New";
    -fx-padding: 12;
    -fx-pref-width: 280px;
    -fx-text-fill: #fff;
    -fx-background-color: #161616;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px;
    -fx-border-color: white;
}

.backBtn {
    -fx-background-image: url("./../../img/backBtn.png") ;
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 35px 35px;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-position: center center; 
}

.boxFont {
	-fx-font: 20px "San Serif";
	-fx-font-weight: 700;
}

.circleFont {
	-fx-font: 15px "Helvetica";
	-fx-font-weight: 900;
}

.rootBg{
	-fx-background-color: #161616;
}

.placeholderText {
	-fx-font: 30px "Courier New";
}